// Images Adjustments

// Image thumbnails
.img-thumbnail {
  padding: $thumbnail-padding;
  border: solid $white;
  border-width:  1rem 1rem 2.5rem 1rem;
  background-color: $thumbnail-bg;

  @include border-radius(0);
  @include box-shadow($thumbnail-box-shadow);
}

//
// Figures
//

.figure-img {
  margin-bottom: ($spacer / 2);
}

.figure-caption {
  font-size: $figure-caption-font-size;
  color: $figure-caption-color;
}
